<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/assets/css/globale.css" />
    <link rel="stylesheet" href="connection.css" />

    <title>Connection</title>
  </head>

  <body>
    <form action="connexion.php" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <div class="connexion-actions">
        <button class="btn btn-primary" type="submit">login</button>
        <button class="btn btn-primary" type="reset">reset</button>
      </div>
    </form>
    <div class="subtitle">Not register yet? no issue go over there : <a href="../register/register.html">register</a></div>
  </body>
</html>
