<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../assets/css/globale.css" />
    <link rel="stylesheet" href="register.css" />
    <title>Register</title>
  </head>

  <body>
    <form action="connexion.php" method="POST">
      <div class="litle-header">back to the <a href="../connection/connection.html"> connection</a></div>
      <h1>Acount Creation</h1>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <label for="first name">First name</label>
      <input type="text" id="first name" name="first name" required />
      <label for="last name">Last name</label>
      <input type="text" id="last name" name="last name" required />
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <div class="register-actions">
        <button class="btn btn-primary" type="submit">login</button>
        <button class="btn btn-primary" type="reset">reset</button>
      </div>
    </form>
  </body>
</html>
